<nav class="nav-main">
    <ul>
        <li class="logo"><a href="{{ site.baseurl }}"><i class="fa fa-book"></i></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">updates</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/datatable">browse</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/women_datatable">women stationers</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/teaching">pedagogy</a></li>
    </ul>
</nav>