---
layout: null
title: Overall Data
---
<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
  
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicon.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon.png">  
    <link rel="alternate" type="application/atom+xml" title="Stationers' Paratexts Online" href="{{ site.baseurl }}/atom.xml">
      
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-3.0.1/b-4.0.1/cc-2.0.0/fh-5.0.0/r-4.0.1/sb-2.0.0/datatables.min.css" rel="stylesheet" integrity="sha384-LnZ1y28ruFT/GyRRHZQeci4o7zYnS2vpfcISzKvueAmnJsN/A9AgCDy2gIK5gT31" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/datatable.css" type="text/css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <title>Browse</title>
  
  </head>
  <body cz-shortcut-listen="true">
    <nav class="nav-main">
      <ul>
        <li class="logo"><a href="{{ site.baseurl }}/"><i class="fa fa-book"></i></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">updates</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/datatable">browse</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/women_datatable">women stationers</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/teaching">pedagogy</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/contributions">contributions</a></li>
      </ul>
    </nav>

    <main>
      <p>
        <div class="text">
          <ul>
		        <li>
              Clicking on the arrow next to the paratext author's name will expand the entry with further details. See the <a href="{{ site.baseurl }}/about/">about page</a> for a full documentation explaning the data model and taxonomy.
            </li>
        
		        <li>
              Filtered search functionalities are in progress, but the dropdown menus work! You can stack searches by selecting different items from each dropdown. You may also use the search box to narrow this table down using keywords. Use quotation marks if you would like to search for an exact phrase.
            </li>
          </ul>
        </div>
      </p>

      {% include combined_filters.html %}
        
      <div id="resize_wrapper" class="container">
        {% include combined_table.html %}
      </div>
    </main>

    <script src="https://cdn.datatables.net/v/dt/dt-3.0.1/b-4.0.1/cc-2.0.0/fh-5.0.0/r-4.0.1/sb-2.0.0/datatables.min.js" integrity="sha384-5E6d0cJygp1iaD6Yi0twPAVTAXv1baHBYKNvci9TsLg/cxWDDSDSHAhvT22ZvJOD" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/js/combined_datatable.js"></script>
  </body>
</html>
