---
layout: null
title: Women Data
---
<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
  
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicon.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon.png">  
    <link rel="alternate" type="application/atom+xml" title="Stationers' Paratexts Online" href="{{ site.baseurl }}/atom.xml">
      
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-3.0.1/b-4.0.1/cc-2.0.0/fh-5.0.0/r-4.0.1/sb-2.0.0/datatables.min.css" rel="stylesheet" integrity="sha384-LnZ1y28ruFT/GyRRHZQeci4o7zYnS2vpfcISzKvueAmnJsN/A9AgCDy2gIK5gT31" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/datatable.css" type="text/css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <title>Women Stationers</title>
  
  </head>
  <body cz-shortcut-listen="true">
    <nav class="nav-main">
      <ul>
        <li class="logo"><a href="{{ site.baseurl }}/"><i class="fa fa-book"></i></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">updates</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/datatable">browse</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/women_datatable">women stationers</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/teaching">pedagogy</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pages/contributions">contributions</a></li>
      </ul>
    </nav>

    <main>
        <div class="text">
            <p>
                The following table is a work in progress, tracing the paratexts included or designed by women stationers. I privilege works with at least two or more paratexts, focusing in particular on paratexts that reveal the labor of book design, such as errata, tables of content, or catalogues of books for sale.
            </p>
            <p>
                A short list of paratexts with only one paratext will follow soon! This facet of the project is ongoing, as I make my way through roughly three thousand EEBO records marked "women in publishing" (many thanks to the graduate students who generated this tag!).
            </p>
        </div>
      </p>

      {% include women_filters.html %}
        
      <div id="resize_wrapper" class="container">
        {% include women_table.html %}
      </div>
    </main>

    <script src="https://cdn.datatables.net/v/dt/dt-3.0.1/b-4.0.1/cc-2.0.0/fh-5.0.0/r-4.0.1/sb-2.0.0/datatables.min.js" integrity="sha384-5E6d0cJygp1iaD6Yi0twPAVTAXv1baHBYKNvci9TsLg/cxWDDSDSHAhvT22ZvJOD" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/js/women_datatable.js"></script>
  </body>
</html>
